*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(162, 161, 161);
    font-family: 'Times New Roman', Times, serif;
}
.head{
   justify-content: center;
    background-color: rgb(60, 104, 161);
    display: flex;
    padding: 2%;
}

.container{
    padding: 20px 70px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container .time{
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 15px;
    font-weight: 00;
}
.row .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 12px 0;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white
}
.row .other .weather-item{
    display: flex;
    justify-content: space-between;
}

.future-forecast{
    background:rgba(24,24,27, 0.6);
    padding: 25px;
    bottom: 0;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid white
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: darkgray;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display:flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    
}
.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background-color: darkgray;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 150;
}

@media screen and (max-width: 795px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
       overflow-x: scroll;
    }
}